<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ulyraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <title >title</title>
  <link rel="stylesheet" href="/webjars/bootstrap/5.3.0/css/bootstrap.min.css" />
  <script src="/webjars/bootstrap/5.3.0/js/bootstrap.bundle.js"></script>
  <link rel="stylesheet" href="/webjars/bootstrap-icons/1.10.5/font/bootstrap-icons.css">
</head>
<body>
  <div class="container-fluid">
     <h3 class="alert alert-danger">Action non autorisée</h3>
  </div>
	
</div>
  
</body>
</html>